@font-face {
   font-family: 'Arial';
   src: url('../../../assets/fonts/ArialMT.woff2') format('woff2'),
      url('../../../assets/fonts/ArialMT.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Georgia';
   src: url('../../../assets/fonts/Georgia.woff2') format('woff2'),
      url('../../../assets/fonts/Georgia.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

html {
   scroll-behavior: smooth;
   box-sizing: border-box;
   margin: 0 auto;
   font-size: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0 auto;
}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

/*header*/

.header__wrapper {
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   border: none;
   padding-top: 10px;
   padding-bottom: 16px;

   .header__logo {
      text-align: center;

      h2 {
         margin-bottom: 10px;

         a {
            font-family: Georgia, sans-serif;
            color: $color-dark-l;
            font-size: 2rem;
            margin-top: 20px;

            letter-spacing: 0.06em;
         }
      }

      p {
         font-family: Arial, sans-serif;
         color: $color-dark-3xl;
         font-size: 13px;
         letter-spacing: 0.1em;
         align-items: center;

      }
   }
}

.header__nav {
   font-family: Arial, sans-serif;
   max-width: 443px;

   .nav__list {
      display: flex;
      justify-content: space-between;
      gap: 35px;
      padding: 0;
      margin-top: 6px;
      transition: .5s ease-in-out;

      .nav__item {
         list-style-type: none;
         font-family: Arial, sans-serif;
         font-size: 15px;
         padding-top: 36px;

         a {
            text-decoration: none;
            color: $color-dark-l;
            padding-bottom: 3px;
            transition: .4s ease-in-out;


            &:active {
               border-bottom: 2px solid $color-primary;
               color: $color-light-s;
            }

            &:hover {
               color: $color-dark-3xl;
            }
         }

         .nav__item__our-pets {
            border-bottom: 2px solid $color-primary;
         }

      }
   }
}

/*header*/

/*our-friends*/


.our-friends {
   background: $color-light-l;
}


.our-friends__wrapper {
   text-align: center;
   padding-top: 78px;
   padding-bottom: 100px;

   h1 {
      margin: 0 auto;
      font-family: Georgia, sans-serif;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      max-width: 400px;
      color: $color-dark-l;
      margin-bottom: 60px;
   }

   button {
      cursor: pointer;
      background: $color-primary;
      border-radius: 100px;
      border: none;
      padding: 15px 45px;
      font-family: Georgia, sans-serif;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-xl;
      transition: .4s;

      &:hover {
         background: $color-primary-light;
      }
   }
}

.our-friends__wrapper__cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 40px;
   margin-bottom: 60px;


   div {
      background: $color-light-s;
      transition: .4s ease-in-out;

      &:hover {
         background: $color-light-xl;

      }

      p {
         font-family: Georgia, sans-serif;
         font-size: 20px;
         letter-spacing: 0.06em;
         color: $color-dark-l;
         margin-top: 25px;
         margin-bottom: 32px;

      }
   }


   button {
      cursor: pointer;
      border: 2px solid $color-primary;
      border-radius: 100px;
      background: $color-light-s;
      font-family: Georgia, sans-serif;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-dark-3xl;
      padding: 14px 45px;
      margin-bottom: 25px;
      transition: .5s ease-in-out;

      &:hover {
         background: $color-primary-light;
         border-color: $color-primary-light;
      }
   }
}

.our-friends__wrapper__number {
   display: flex;
   justify-content: center;
   gap: 20px;
   text-align: center;
   align-items: center;

   // max-width: 261px;
   button {
      cursor: pointer;
      background: none;
      border: 2px solid $color-primary;
      border-radius: 50%;
      padding: 10px;
      height: 53px;
      width: 53px;
      text-align: center;
      align-items: center;
      transition: .4s ease-in-out;

      &:first-child,
      &:nth-child(2) {
         color: $color-dark-s;
         border-color: $color-dark-s;

         &:hover {
            background: none;
         }
      }

      &:nth-child(3) {
         background: $color-primary;
         border: none;

         &:hover {
            background: $color-primary-light;
         }
      }

      &:nth-child(4):hover,
      &:last-child:hover {
         border: none;
      }
   }
}

/*our-friends*/


/*footer*/

footer {
   background-image: url(../../../assets/images/start-screen-gradient-background.png);
   background-position: center;
   background-size: cover;
}

.footer__wrapper {
   padding-top: 25px;
   display: flex;
   justify-content: space-between;
}

.footer__wrapper__text-left {
   h2 {
      font-family: Georgia, sans-serif;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-light-xl;
      margin-bottom: 40px;
   }

   div {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   p {
      margin: 0;
      font-family: Georgia, sans-serif;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;

   }

   a {
      text-decoration: none;
      color: $color-primary
   }
}

.footer__wrapper__text-left__email {
   margin-bottom: 40px;
}

.footer__wrapper__text-right {
   max-width: 302px;

   h2 {
      font-family: Georgia, sans-serif;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: $color-light-xl;
      margin-bottom: 40px;
   }

   div {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   p {
      margin: 0;

      a {
         font-family: Georgia, sans-serif;
         font-size: 20px;
         line-height: 115%;
         letter-spacing: 0.06em;
         color: $color-primary
      }


   }
}

.footer__wrapper__text-left__address {
   margin-bottom: 25px;
}

/*footer*/