@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia.woff2") format("woff2"), url("../../../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*header*/
.container {
  background-image: url(../../../assets/images/start-screen-gradient-background.png);
  background-position: center;
  background-size: cover;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: none;
  padding-bottom: 72px;
}
.header__wrapper .header__logo {
  text-align: center;
}
.header__wrapper .header__logo h2 {
  font-family: Georgia, sans-serif;
  color: #F1CDB3;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.06em;
}
.header__wrapper .header__logo p {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.1em;
  align-items: center;
}

.header__nav {
  font-family: Arial, sans-serif;
  max-width: 443px;
}
.header__nav .nav__list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  padding: 0;
}
.header__nav .nav__list .nav__item {
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding-top: 36px;
}
.header__nav .nav__list .nav__item a {
  text-decoration: none;
  color: #CDCDCD;
  padding-bottom: 3px;
  transition: 0.4s ease-in-out;
}
.header__nav .nav__list .nav__item a:active {
  border-bottom: 2px solid #F1CDB3;
  color: #FAFAFA;
}
.header__nav .nav__list .nav__item a:hover {
  color: #FAFAFA;
}
.header__nav .nav__list .nav__item .nav__item__about {
  border-bottom: 2px solid #F1CDB3;
}

.header__burger {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
}
.header__burger .burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FDDCC4;
  position: absolute;
  left: 0px;
}

.burger__line__first {
  top: 0;
}

.burger__line__second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line__third {
  bottom: 0;
}

/*header*/
/*not-only*/
.not-only__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.not-only__wrapper .not-only__text {
  padding-top: 140px;
}
.not-only__wrapper .not-only__text h1 {
  font-family: Georgia, sans-serif;
  font-size: 44px;
  line-height: 130%;
  max-width: 310px;
  margin-bottom: 36px;
  color: #FFFFFF;
}
.not-only__wrapper .not-only__text p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  max-width: 460px;
  line-height: 160%;
  color: #CDCDCD;
  margin-bottom: 60px;
}
.not-only__wrapper .not-only__text a {
  cursor: pointer;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  transition: 0.4s ease-in-out;
}
.not-only__wrapper .not-only__text a:hover {
  background: #FDDCC4;
}

/*not-only*/
/*about*/
.about__wrapper {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  gap: 120px;
  margin-bottom: 96px;
}
.about__wrapper .about__img {
  padding-top: 10px;
}
.about__wrapper h2 {
  font-family: Georgia, sans-serif;
  font-weight: normal;
  color: #545454;
  font-size: 35px;
  letter-spacing: 0.06em;
  max-width: 370px;
  margin-bottom: 25px;
}
.about__wrapper p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}
.about__wrapper .about__text__currently {
  margin-bottom: 25px;
}

/*about*/
/*out-friends*/
.our-friends {
  background: #F6F6F6;
}

.our-friends__container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 52px;
  align-items: center;
}
.our-friends__container .our-friends_icon-arrow {
  cursor: pointer;
  display: inline-flex;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  padding: 18px;
  height: 53px;
  width: 53px;
  text-align: start;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.our-friends__container .our-friends_icon-arrow:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}
.our-friends__container .arrow-left {
  position: absolute;
  top: 194px;
  left: 0;
}
.our-friends__container .arrow-right {
  position: absolute;
  top: 194px;
  right: 0;
}

.our-friends__wrapper {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 110px;
}
.our-friends__wrapper h2 {
  margin: 0 auto;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 400px;
  color: #545454;
  margin-bottom: 60px;
}
.our-friends__wrapper a {
  cursor: pointer;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  transition: 0.4s;
}
.our-friends__wrapper a:hover {
  background: #FDDCC4;
}

.our-friends__pets {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 78px;
}
.our-friends__pets div {
  background: #FAFAFA;
  transition: 0.4s ease-in-out;
}
.our-friends__pets div:hover {
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.our-friends__pets div p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
  margin-bottom: 32px;
}
.our-friends__pets button {
  cursor: pointer;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #FAFAFA;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 14px 45px;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
}
.our-friends__pets button:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

/*out-friends*/
/*help*/
.help__wrapper {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
}
.help__wrapper h2 {
  font-family: Georgia, sans-serif;
  color: #545454;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  margin-bottom: 60px;
}
.help__wrapper .help__wrapper__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 120px;
}
.help__wrapper .help__wrapper__icon p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}
.help__wrapper .help__wrapper__icon .invisible {
  display: none;
}
.help__wrapper .icon-top {
  margin-bottom: 35px;
}

/*help*/
/*in-adition*/
.in-addition {
  background: #F6F6F6;
}

.in-addition__wrapper {
  padding-top: 45px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.in-addition__wrapper .in-addition__wrapper__img {
  padding-top: 40px;
}

.in-addition__wrapper__text {
  max-width: 380px;
}
.in-addition__wrapper__text h2 {
  font-family: Georgia, sans-serif;
  color: #545454;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  margin-bottom: 20px;
}
.in-addition__wrapper__text .in-addition__wrapper__text__bank {
  font-family: Georgia, sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.in-addition__wrapper__text .in-addition__wrapper__button {
  display: flex;
  gap: 14px;
  max-width: 349px;
  background: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.in-addition__wrapper__text .in-addition__wrapper__button .in-addition__wrapper__text__card {
  display: inline;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
}
.in-addition__wrapper__text .info {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

/*in-adition*/
/*footer*/
footer {
  background-image: url(../../../assets/images/start-screen-gradient-background.png);
  background-position: center;
  background-size: cover;
}

.footer__wrapper {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.footer__wrapper__text-left h2 {
  max-width: 300px;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer__wrapper__text-left div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__wrapper__text-left p {
  margin: 0;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer__wrapper__text-left a {
  text-decoration: none;
  color: #F1CDB3;
}

.footer__wrapper__text-left__email {
  margin-bottom: 40px;
}

.footer__wrapper__text-right {
  max-width: 302px;
}
.footer__wrapper__text-right h2 {
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer__wrapper__text-right div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__wrapper__text-right p {
  margin: 0;
}
.footer__wrapper__text-right p a {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__wrapper__text-left__address {
  margin-bottom: 35px;
}

/*footer*/
@media screen and (max-width: 1220px) {
  .wrapper {
    padding: 0 30px;
  }
  .header__wrapper {
    padding-bottom: 0;
  }
  .not-only__wrapper {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
  }
  .not-only__wrapper .not-only__text {
    margin: 0 auto;
    padding-top: 0;
  }
  .not-only__wrapper .not-only__text .not-only__text__button {
    text-align: center;
  }
  .not-only__wrapper .not-only__img {
    margin-top: 115px;
    text-align: center;
  }
  .not-only__wrapper .not-only__img img {
    max-width: 710px;
    padding-left: 140px;
  }
  .about__wrapper {
    flex-direction: column-reverse;
    padding-top: 50px;
    gap: 50px;
  }
  .about__wrapper .about__img {
    text-align: center;
  }
  .about__wrapper .about__text {
    max-width: 430px;
    margin: 0 auto;
  }
  .our-friends__wrapper {
    padding-top: 84px;
  }
  .our-friends__wrapper .our-friends__pets {
    gap: 40px;
  }
  .our-friends__wrapper .our-friends__pets .woody {
    display: none;
  }
  .help__wrapper .help__wrapper__icon {
    justify-content: center;
    gap: 35px 60px;
  }
  .help__wrapper .help__wrapper__icon .help__wrapper__icon-item {
    width: 170px;
  }
  .in-addition__wrapper {
    flex-direction: column-reverse;
    padding-top: 45px;
    padding-bottom: 95px;
  }
  .in-addition__wrapper .in-addition__wrapper__text {
    padding-top: 5px;
    margin: 0 auto;
  }
  .in-addition__wrapper .in-addition__wrapper__img {
    text-align: center;
    padding-top: 16px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
  }
  .footer__wrapper .footer__img {
    margin-top: 24px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0px 10px;
  }
  .header__wrapper .header__logo {
    padding-left: 10px;
  }
  .header__wrapper .header__nav {
    display: none;
  }
  .header__wrapper .header__burger {
    display: block;
    margin-top: 50px;
    margin-right: 10px;
  }
  .not-only__wrapper {
    margin-top: 45px;
  }
  .not-only__wrapper .not-only__text {
    text-align: center;
  }
  .not-only__wrapper .not-only__text h1 {
    max-width: 200px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .not-only__wrapper .not-only__text p {
    margin-top: 42px;
    margin-bottom: 56px;
    text-align: center;
  }
  .not-only__wrapper .not-only__img {
    margin-top: 120px;
  }
  .not-only__wrapper .not-only__img img {
    max-width: 296px;
    padding-left: 38px;
  }
  .about__wrapper {
    padding-top: 40px;
    gap: 30px;
    margin-bottom: 38px;
  }
  .about__wrapper .about__text {
    text-align: center;
  }
  .about__wrapper .about__text h2 {
    max-width: 250px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .about__wrapper .about__text p {
    margin-top: 26px;
    margin-bottom: 0;
    text-align: justify;
    max-width: 270px;
  }
  .about__wrapper .about__text .about__text__we {
    margin-top: 20px;
  }
  .about__wrapper .about__img img {
    max-width: 260px;
  }
  .our-friends__wrapper {
    padding-top: 44px;
    padding-bottom: 60px;
  }
  .our-friends__wrapper h2 {
    max-width: 300px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .our-friends__wrapper .our-friends__container .our-friends__pets {
    margin-top: 40px;
    margin-bottom: 130px;
  }
  .our-friends__wrapper .our-friends__container .our-friends__pets .jennifer {
    display: none;
  }
  .our-friends__wrapper .our-friends__container .our-friends_icon-arrow {
    top: 438px;
    margin: 58px;
  }
  .help__wrapper {
    padding-top: 40px;
    padding-bottom: 18px;
  }
  .help__wrapper h2 {
    max-width: 300px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .help__wrapper .help__wrapper__icon {
    margin-top: 40px;
    margin-bottom: 0;
    gap: 13px 30px;
  }
  .help__wrapper .help__wrapper__icon .help__wrapper__icon-item {
    width: 130px;
  }
  .help__wrapper .help__wrapper__icon .help__wrapper__icon-item img {
    max-width: 50px;
  }
  .help__wrapper .help__wrapper__icon .help__wrapper__icon-item p {
    margin-top: 18px;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
  }
  .in-addition__wrapper {
    padding-bottom: 40px;
  }
  .in-addition__wrapper .in-addition__wrapper__img {
    padding: 0;
  }
  .in-addition__wrapper .in-addition__wrapper__img img {
    max-width: 260px;
  }
  .in-addition__wrapper .in-addition__wrapper__text {
    text-align: center;
    margin: 0 auto;
  }
  .in-addition__wrapper .in-addition__wrapper__text h2 {
    max-width: 300px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .in-addition__wrapper .in-addition__wrapper__text p {
    margin-top: 25px;
    letter-spacing: 0;
  }
  .in-addition__wrapper .in-addition__wrapper__text .in-addition__wrapper__button {
    align-items: center;
    margin: 0 auto;
    margin-top: 23px;
    gap: 15px;
    max-width: 285px;
  }
  .in-addition__wrapper .in-addition__wrapper__text .in-addition__wrapper__button p {
    font-size: 15px;
    line-height: 16.5px;
  }
  .in-addition__wrapper .in-addition__wrapper__text .info {
    margin-top: 20px;
    text-align: justify;
    max-width: 280px;
  }
  .footer__wrapper {
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    gap: 40px;
  }
  .footer__wrapper .footer__wrapper__text-left {
    text-align: center;
    margin: 0 auto;
  }
  .footer__wrapper .footer__wrapper__text-left h2 {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .footer__wrapper .footer__wrapper__text-left div {
    margin: 0 auto;
    margin-top: 35px;
    max-width: 250px;
    gap: 20px;
  }
  .footer__wrapper .footer__wrapper__text-left .footer__wrapper__text-left__number {
    margin-top: 42px;
    gap: 26px;
  }
  .footer__wrapper .footer__wrapper__text-right {
    margin: 0 auto;
  }
  .footer__wrapper .footer__wrapper__text-right h2 {
    text-align: center;
    align-items: flex-start;
    max-width: 260px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    margin: 0 auto;
  }
  .footer__wrapper .footer__wrapper__text-right div {
    margin: 0 auto;
    margin-top: 35px;
    max-width: 300px;
    gap: 20px;
  }
  .footer__wrapper .footer__wrapper__text-right .footer__wrapper__text-left__address-second {
    margin-top: 42px;
    gap: 20px;
  }
  .footer__wrapper .footer__img {
    margin-top: 0px;
  }
  .footer__wrapper .footer__img img {
    max-width: 260px;
  }
}
@media screen and (max-width: 470px) {
  .help__wrapper .help__wrapper__icon .invisible {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */